<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout::layout(~{::.container})}">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}">
  <link rel="stylesheet" href="/css/datatables.bootstrap.min.css" th:href="@{/bootstrap/css/datatables.bootstrap.min.css}">
</head>
<body>
<div class="container" style="width:100%">
  <h4 style="color: red; position: center">Nowy użytkownik</h4>
  <form th:action="@{/users/save}" th:object="${user}" method="post">
    <div class="form-group">
      <label for="login" class="col-sm-2 control-label">Login : </label>
      <input class="form-control" type="text" id="login" placeholder="Wprowadź login" th:field="${user.userName}">
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Login : </label>
      <input class="form-control" type="text" id="name" placeholder="Wprowadź imię i nazwisko" th:field="${user.userFullName}">
    </div>
    <div class="form-group">
      <label for="role"> Rola w aplikacji :
        <input id="role" type="checkbox" name="roles"
               th:each = "role : ${allRoles}"
               th:text="${role.roleName}"
               th:value="${role.roleId}"
               th:field="*{roles}"
        />
      </label>
    </div>

<!--    <div class="col-sm-6">-->
<!--      <label> Login-->
<!--     <input type="text" th:field="${userName}" class="form-control">-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="col-sm-6">-->
<!--      <label> Imię i nazwisko-->
<!--        <input type="text" th:field="${userFullName}" class="form-control">-->
<!--      </label>-->
<!--    </div>-->
<!--    <p>-->
<!--      <label>-->
<!--        Rola w aplikacji-->
<!--        <input type="checkbox" name="roles"-->
<!--               th:each = "role : ${allRoles}"-->
<!--               th:text="${role.roleName}"-->
<!--               th:value="${role.roleId}"-->
<!--               th:field="*{roles}"-->
<!--               />-->
<!--      </label>-->

<!--    </p>-->
<button type="submit" class="btn btn-primary"> Zapisz</button>
  </form>

</div>
</body>
</html>
