<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout::layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}">
    <!--    <link rel="stylesheet" href="/css/datatables.bootstrap.min.css" th:href="@{/bootstrap/css/datatables.bootstrap.min.css}">-->
</head>
<body>
<div class="container" style="width:100%">
    <b> Total ${noOfRecords} records uploaded !</b>
</div>
</body>
</html>
