<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">

</head>
<body>
<nav th:fragment="footer">
  <footer class="footer mt-auto py-3 fixed-bottom"
  style="background-color: #454545; color: whitesmoke; bottom:0; z-index:1996; position: fixed; right:0; left:0">
<!--    <div class="container">-->
<!--  <footer class="uk-section uk-section-xsmall uk-section-muted uk-position-bottom uk-position-absolute"-->
<!--          style="background-color: #454545; color: whitesmoke; bottom:0; z-index:1996">-->
    <center>
      <table>
        <tr>
          <th rowspan="2"><img style="float: left; left:4" src="/register/images/cpr_logo1.png" height="25"
                               width="25"></th>
          <th>
          <td>&nbsp; Copyright : &copy; 2023 Wydział Powiadamiania Ratunkowego Śląskiego Urzędu Wojewódzkiego w
            Katowicach.&nbsp;
          </td>
          <td>&nbsp;Coding & development by Adam Skaźnik.&nbsp;</td>
          <td> Zauważyłeś błąd - powiadom o tym <a
                  href="mailto:skaznika@wcpr.slask.eu?subject=Błąd w programie rejestr">autora.</a></td>
          </th>
        </tr>
      </table>
    </center>
<!--    </div>-->
  </footer>
</nav>
</body>
</html>
<!--footer uk-position-bottom uk-position-fixed uk-position-absolute-->
<!--<footer class="uk-section uk-section-xsmall uk-section-muted uk-position-bottom uk-position-absolute"-->
<!--        style="background-color: #454545; color: whitesmoke; bottom:0; z-index:1996">-->