<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout::layout(~{::.container})}">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}">
  <link rel="stylesheet" href="/css/datatables.bootstrap.min.css" th:href="@{/bootstrap/css/datatables.bootstrap.min.css}">
</head>
<body>
<!--<div class="wrapper">-->
<div class="container" style="width:100%">
  <center><h4 style="color: red; position: center">Wykaz kart dostępowych</h4></center>
  <p><a href="#" class="btn btn-success"><span class="fa fa-plus-circle" aria-hidden="true"></span> Dodaj kartę dostępową</a></p>
  <table class="table table-striped" style="width: 100%" id="glowna">
    <thead>
    <tr>
      <th>Lp. </th>
      <th>Nazwisko </th>
      <th>Imię </th>
      <th>Nr karty</th>
      <th>Data wydania</th>
      <th>Data zwrotu</th>
      <th>Uwagi</th>
      <th>Akcje</th>
    </tr>
    </thead>

  </table>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Szczegóły</h4>
        </div>
        <div class="modal-body">
                              <div class="fName"><p>Imię: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>
                              <div class="lName"><p>Nazwisko: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>
                              <div class="login_stcpr"><p>Login STCPR: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>
                              <div class="cardNr"><p>Nr karty: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>
                              <div class="cardPin"><p>Pin do karty: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>
                              <div class="releaseDate"><p>Data wydania: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>
                              <div class="returnDate"><p>Data zwrotu: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>
                              <div class="cardDesc"><p>Dodatkowe informacje: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>
                              <div class="cardActive"><p> &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>
          <!--                    <div class="articleQueantity"><p>Ilość: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>-->
          <!--                    <div class="productPrice"><p>Wartość: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>-->
          <!--                    <div class="serialInvoice"><p>Nr inwentarzowy: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>-->
          <!--                    <div class="serialNr"><p>Nr seryjny: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>-->
          <!--                    <div class="producer"><p>Producent: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>-->
          <!--                    <div class="articlePurchase"><p>Data zakupu: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>-->
          <!--                    <div class="quarantiePerion"><p>Data końca gwarancji: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
    var table = $('#glowna').DataTable({
    "bAutoWidth" : true,
    "sAjaxSource" : "/register/api/card/v2",
    "sAjaxDataProp": "",
    "stateSave": true,
    "aoColumns": [
    {"mData": null, sWidth: '20px',
           "render" : function (data, type, full, meta) {
             return meta.index +1;
    }},
    {"mData" : "lname"},
    {"mData" : "fname"},
    {"mData" : "cardNr"},
    {"mData" : "releaseDate"},
      {"mData" : "returnDate"},
    {"mData" : "cardDesc"},
    {"mData" : null,
    "render" : function (data, type, row) {
    var c = '<a href="#"><span style="color:green" class="glyphicon glyphicon-zoom-in" title="Szczegóły" id="details"></span></a>&nbsp;&nbsp;<a href="#"><span style="color:green" class="glyphicon glyphicon-pencil" title="Edytuj" id="edit"></span></a>&nbsp;&nbsp;' ;
    if (data.cardPin == null) {
    c=c+'<a href="#"><span style="color:blue" class="glyphicon glyphicon-qrcode" title="Nadaj PIN" id="pinCreate"></span></a>&nbsp;&nbsp;';
    };
    if (data.login_stcpr == null) {
    c=c+'<a href="#"><span style="color:red" class="glyphicon glyphicon-plus" title="Przypisz osobie" id="employeeCreate"></span></a>&nbsp;&nbsp;';
    } else {
    c=c+'<a href="#"><span style="color:red" class="glyphicon glyphicon-minus" title="Odbierz osobie" id="employeeDestroy"></span></a>&nbsp;&nbsp;';
    };
    return c;
    }
    }
    ],
    "columnsDefs" : [
<!--    null,-->
<!--    {orderSequence :['asc']},-->
<!--    {orderSequence :['asc']},-->

    ],

    "language": {
        "processing": "Przetwarzanie...",
        "search": "Szukaj:",
        "lengthMenu": "Pokaż _MENU_ pozycji",
        "info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
        "infoEmpty": "Pozycji 0 z 0 dostępnych",
        "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
        "infoPostFix": "",
        "loadingRecords": "Wczytywanie...",
        "zeroRecords": "Nie znaleziono pasujących pozycji",
        "emptyTable": "Nie znaleziono rekordów",
        "paginate": {
          "first": "Pierwsza",
          "previous": "Poprzednia",
          "next": "Następna",
          "last": "Ostatnia"
        },
        "aria": {
          "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
          "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
        }
      }
    });
    table.on('order.dt search.dt', function () {
      table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
        cell.innerHTML = i + 1;
      });
    }).draw();

    $('#glowna tbody').on('click', '#details', function (){
      var data = table.row($(this).parents('tr')).data();
      $(".modal-body div span").text("");
      $(".fName span").text(data["fname"]);
      $(".lName span").text(data["lname"]);
      $(".login_stcpr span").text(data["login_stcpr"]);
      $(".cardNr span").text(data["cardNr"]);
      $(".cardPin span").text(data["cardPin"]);
      $(".releaseDate span").text(data["releaseDate"]);
      $(".returnDate span").text(data["returnDate"]);
      $(".cardDesc span").text(data["cardDesc"]);
      $('#myModal').modal('show');
    });
    })




</script>
