<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout::layout(~{::.container})}">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}">
</head>
<body>
<div class="container" style="width:100%">
  <div class="row">
    <div class="col-sm-12">

      <div><h5><center><b> Dane podstawowe </b></center></h5></div>
      <!--                                    <div style="display: inline">-->
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td><div class="aimie" style="display: inline">Imię: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="anazwisko" style="display: inline">Nazwisko: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="loginSTCPR">Login STCPR: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
        </tr>
        <tr>
          <td><div class="awydzial">Wydział: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="anrOna">Nr ONA: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="aarchiwalnyNrOna">Archiwalny nr ONA: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
        </tr>
      </table>
      <hr>
      <div><h5><center> <b> Upoważnienia do przetwarzania i udostępniania danych w ST CPR </b></center></h5></div>
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <!--                                    <tr>-->
          <td><div><label>Data nadania upoważnienia: &nbsp;&nbsp;</label><p th:text="*{bdataNadaniaUpowaznienia}"></p><span style="color: #002a80; font-weight: bold"></span></div>
            <div class="input-group">
              <input type="text">
              <span class="glyphicon glyphicon-calendar"></span>
            </div>
            <!--                                        <input type="text">-->
          </td>
          <td><div class="bnrUpowaznienia">Numer upoważnienia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div>
            <div class="input-group">
              <input type="text">
              <span class="glyphicon glyphicon-calendar"></span>
            </div>
          </td>
          <td><div class="bdataWaznosciUpowaznienia">Data ważności upoważnienia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div>
            <div class="input-group">
              <input type="text">
              <span class="glyphicon glyphicon-calendar"></span>
            </div></td>
        </tr>
        <tr>
          <td><div class="buprawnienia">Uprawnienia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="bdataWycofaniaUpowaznienia">Data wycofania upoważnienia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="bpowodWycofaniaUpowaznienia">Powód wycofania: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
        </tr>
      </table>

      <hr>
      <div><h5><center> Zobowiązanie do zachowania w poufności danych przetwarzanych w ST CPR</center></h5></div>
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td><div class="cdataWydaniaZobowiazania">Data wydania zobowiazania: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="cnrZobowiazania">Numer zobowiazania: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
        </tr>
      </table>

      <hr>
      <div><h5><center> Upoważnienie do przetwarzania danych osobowych w ŚUW</center></h5></div>
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td><div class="ddataNadaniaUpowaznienia">Data nadania upoważnienia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="dnrUpowaznienia">Numer upoważnienia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="ddataWaznosciUpowaznienia">Data ważności upoważnienia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="ddataWycofaniaUpowaznienia">Data wycofania upoważnienia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="dpowodWycofaniaUpowaznienia">Powód wycofania upoważnienia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
        </tr>
      </table>
      <hr>
      <div><h5><center> Oświadczenie o zapoznaniu się z zasadmi bezpiecznej pracy w ST CPR</center></h5></div>
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td><div class="edataPodpisaniaUpowaznienia">Data podpisania oświadczenia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
        </tr>
      </table>
      <!--                            <div class="edataPodpisaniaUpowaznienia"><p>Data podpisania oświadczenia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>-->
      <hr>
      <div><h5><center> Zobowiązanie do zachowania w poufności informacji stanowiących tajemnicę zawodową i służbową</center></h5></div>
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td><div class="fdataPodpisaniaZobowiazania">Data podpisania zobowiązania: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="fnrUpowaznienia">Numer upoważnienia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
          <td><div class="fdataWaznosciUpowaznienia">Data ważności upoważnienia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
        </tr>
      </table>

      <hr>
      <div><h5><center> Zapoznanie się z "Polityką przetwarzania danych osobowych w ST CPR"</center></h5></div>
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td><div class="gdataZapoznaniaPolityka">Data zapoznania: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
        </tr>
      </table>
      <!--                            <div class="gdataZapoznaniaPolityka"><p>Data zapoznania: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>-->
      <hr>
      <div><h5><center> Szkolenie LABI z "Polityki bezpieczeństwa ST CPR"</center></h5></div>
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td><div class="hszkolenieLabi">Data szkolenia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
        </tr>
      </table>
      <!--                            <div class="hszkolenieLabi"><p>Data szkolenia: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>-->
      <hr>
      <div><h5><center> Zapoznanie się z dokumentacją "Polityki bezpieczeństwa ST CPR" oraz "Instrukcją Zarządzania ST CPR" </center></h5></div>
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td><div class="idataZapoznaniaPolityka">Data zapoznania: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></div></td>
        </tr>
      </table>
      <!--                            <div class="idataZapoznaniaPolityka"><p>Data zapoznania: &nbsp;&nbsp;<span style="color: #002a80; font-weight: bold"></span></p></div>-->
    </div>
  </div>
</div>

</div>

</div>
</body>
</html>
